body {
    font-family: sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333333;
}

a {
    text-decoration: none;
    cursor: pointer;
}
/*LOGO*/
#imagen {
    display: flex;
    margin-left: 600px;
    margin-bottom: 0px;
}
/*LEMA*/
#titulo {
    position: relative;
    margin-left: 550px;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(9, 55, 61);
    font-size:xx-large;
}
/*MENU DE NAVEGACION*/
header {
    background-color: rgb(224, 224, 112);
    margin-top: 20px;
    padding-top: 5px;
}
/*INFORMACION DEL HEADER- LISTA*/
nav {
    padding: 10px;
    top: 0;
    margin: 0;
    border-radius: 0;
    position: sticky;
    background-color: rgb(224, 224, 112);
    z-index: 1000;
}

nav ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
nav li{
    font-size: bold;
    font-style: italic;
    padding-left: 50px; 
    padding-right: 50px;
    list-style: none; 
    display: inline-block;
}

li a {
    text-decoration: none;
    color:  rgb(9, 55, 61);
    font-weight: bolder;
    font-style: italic;
    padding: 10px;
}

li a:hover {
    border-radius: 5px;
    background-color:  rgb(245, 193, 52);
    border: 2px solid rgba(20, 55, 61, 0.692);
}
/*NUESTROS SERVICIOS*/
.menu-desplegable {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.menu-desplegable-menu {
    display: none;
    position: absolute;
    border-radius: 20px;
    top: 100%;
    left: 0;
    background-color:  rgb(224, 224, 112);
    list-style: none;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 4px 8px rgb(9, 55, 61);
    z-index: 1000;
    min-width: 180px;    
}

.menu-desplegable:hover .menu-desplegable-menu {
    display: block;
}

.menu-desplegable li a {
    display: block;
    padding: 3px 8px;
    text-decoration: none;
    color:  rgb(9, 55, 61);
}

.menu-desplegable li a:hover {
    background-color:  rgb(245, 193, 52);
    
}
/*SECTION DEL FORMULARIO*/
.contenedor {
    position: relative; 
    width: 100%;
}
/*IMAGEN DE BANNER*/
#flyer {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
}
/*FORMULARIO*/
main section fieldset {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 30%;
    background-color: white;
    border-radius: 12px;
    padding: 50px 5px;
    border: none;
    box-shadow: 0px 4px 12px  rgb(9, 55, 61);
    z-index: 1;
}

#titulo-formulario{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

input:focus {
    border: 4px solid  rgb(9, 55, 61);
}

label {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    background-color: rgb(224, 224, 112);
    font-weight: bold;
}
section .botones{
     display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding-top: 30px;
}

button:hover{
    background-color: rgb(224, 224, 112);
    border: 2px solid rgba(20, 55, 61, 0.692);
}

/*PREGUNTA*/
.pregunta {
    position: flex;
    text-align: center;
    background-color:  rgb(224, 224, 112) ;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(9, 55, 61);
    font-size:xx-large;
    padding: 10px;
    
}
/*RESPUESTA*/
.respuesta {
    color: #40a34b;
    font-size:x-large;
    font-family: sans-serif;
    font-style: italic;
    border: 3px solid rgb(9, 55, 61);
    border-radius: 20px;
    padding: 80px;
}
/*TABLA CON IMAGENES*/
.instalaciones{
    width: 100%;
    text-align: center;
    background-color: rgb(224, 224, 112);
    padding: 10px;
    margin-bottom: 10px;
}

table{
    width: 100%;
    table-layout:fixed;
}

.tabla-titulo{
    font-family: sans-serif;
    font-style: italic;
    font-size: xx-large;
    width: 100%;
    padding: 30px; 
    text-align: center; 
}

tbody td {
    text-align: center;
    padding: 20px;
}

tbody td img {
    width: 100%;
}
/*BOTON REDIRECCION*/
.whatsapp {
    position: fixed;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 1001;
}
.whatsapp:hover{
    box-shadow: 1px 4px green;
}
/*PIE DE PAGINA*/
footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top:  80px;
    bottom: 0;
    background-color:  rgb(224, 224, 112);
    border-top: 1px solid rgb(9, 55, 61) ;
    
}


/*PQRS Y NOSOTROS*/

#mision {
margin-top: 5px;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    color: rgba(20, 55, 61, 0.692);
    background-color: rgb(224, 224, 112);
    border-radius: 10px;
    margin-top: 30px;
    width: fit-content;
}

#parrafomision{
    font-size: 25px;
    text-align: left;
}

#vision {
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    color: rgba(20, 55, 61, 0.692);
    background-color: rgb(224, 224, 112);
    border-radius: 10px;
    margin-top: 30px;
    width: fit-content;
}

#parrafovision{
    font-size: 25px;
    text-align: left;
}



#valores {
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    color: rgba(20, 55, 61, 0.692);
    background-color: rgb(224, 224, 112);
    border-radius: 10px;
    margin-top: 30px;
    width: fit-content;
}

section ul{
    font-size: 25px;
    text-align: left;
    padding-left: 50px; 
    padding-right: 50px;

}

/*EQUIPO*/

#banner {
    margin-top: 20px;
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slider 21s infinite;
}

.s1 { animation-delay: 0s;}
.s2 { animation-delay: 7s;}
.s3 { animation-delay: 14s;}

@keyframes slider {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    33%  { opacity: 1; }
    43%  { opacity: 0; }
    100% { opacity: 0; }
}

#equipo {
    color: black;
    background-color: rgb(224, 224, 112);
    font-style: italic;
    font-size: 30px;
    text-shadow: 2px 8px 2px rgba(20, 55, 61, 0.692);

}

#equipo1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 40px;
}

.tarjeta-equipo2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
    


.tarjeta-equipo img {
    border-radius: 50%;
   
    object-fit: cover;

}

section.walle h1{
    display:inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
 background-color: rgb(224, 224, 112);
}

section.walle h2{ 
 background-color: rgb(224, 224, 112);
 width: fit-content;
    padding: 4px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

section.walle p{
    font-style: italic;
    font-size: 20px;
    background-color: rgb(224, 224, 112);
    width: fit-content;
    padding: 4px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/*walle*/
section#quienes-somos h1 {
    color: rgba(20, 55, 61, 0.692);
    background-color: rgb(224, 224, 112);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;

}
section#quienes-somos p {
     font-size: 25px;
    text-align: left;
}

section#numeros h1 {
    color: rgba(20, 55, 61, 0.692);
    background-color: rgb(224, 224, 112);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}
section#numeros p {
     font-size: 25px;
    text-align: left;
}
